<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/pages/group.css">
</head>

<body>
<div class="margin30">

    <div class="flex">
        <span id="addGroup" class="btn btn-large btn-primary otherBtn "><i class="glyphicon-plus"></i><span class="i18n" data-title="addBtn">新增迎宾语</span></span>
    </div>

</div>
<div class="margin30">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="i18n" data-title="groupName">人员类型</th>
            <th class="i18n" data-title="groupName">迎宾语</th>
            <th class="i18n" data-title="groupName">操作</th>
        </tr>
        </thead>
        <tbody id="j_body"></tbody>
    </table>
    <div class="page_div">
        <span id="j_footer"></span>
        <span id="j_pageNum" class="j_pageNum"></span>
    </div>

</div>
</body>
<script src="/static/javascripts/lib/require.js" data-main="/static/javascripts/pages/admin/greetingWord/list.js"></script>

</html>

