<!DOCTYPE html>
<html lang="zh-CN">
<link>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/stylesheets/lib/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css" />
<meta name="description" content="">
<meta name="author" content="">


<title>nztd</title>
<script type="text/javascript">
</script>

</head>

<body >
<div class="main mainDiv" style="overflow:hidden;background-image:url('/static/images/bg.png');background-repeat: no-repeat;background-size: cover">
    <div class="wel_header">NaZiAI</div>
    <div class="wel_showArea"></div>
    <div class="welInfo"><div class="scrollDiv"></div></div>
    <div class="wel_footer">
        <div class="time"></div>
        <div class="footer_center"></div>
        <div class=""></div>
    </div>

</div>

</body>
<script  src="/static/javascripts/lib/require.js" data-main="/static/javascripts/pages/show/welcome2"></script>
</html>

