<!DOCTYPE html>
<html lang="zh-CN">
<link>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/stylesheets/lib/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="/static/stylesheets/main.css" type="text/css" />
<meta name="description" content="">
<meta name="author" content="">


<title>nztd</title>
<script type="text/javascript">
</script>
<style type="text/css">
</style>

</head>

<body >
<div class="main mainDiv" style="overflow:hidden;background-image:url('/static/images/bg.jpg');background-repeat: no-repeat;background-size: cover">
    <div class="wel_header">
        <div class="welcome_logo">
            <img class="welcome_logoImg" src="/static/images/logo.png">
        </div>
        <div class="showInfo"><div style="font-size: 3.75vw">welcome to a brand new day !</div>
            <div style="font-size: 2.18vw">欢迎您开启崭新的一天 !</div></div>
        <div class="date">
            <div class="nowDay" style="font-size: 6.51vw"></div>
            <div class="year" style="font-size: 1.56vw"></div></div>
    </div>
    <div class="wel_showArea"  style="margin-top: 7.1875vw;position: relative;height: 20.625vw;">
        <div class="welcome_userInfo" style="">
            <div class="welcome_userInfo_div" style="color:white">
                <!--<div style="position: absolute;margin-left: 20.677vw;">-->
                    <!--<div class="welcome_userInfo_box" >-->
                        <!--<img class="welcome_head_infoBg" src="/static/images/headBg.png">-->
                        <!--<img class="userHeader_info" src="/static/images/5.jpg" >-->
                        <!--<div class="userHeader_info_time">08:30</div>-->
                        <!--<div class="userHeader_info_name" >张卫东</div>-->
                        <!--<div class="userHeader_info_type">-->
                            <!--<img  src="/static/images/fangke.png">-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div style="position: absolute;left: 760px">-->
                    <!--<div class="welcome_userInfo_box" style="margin-left: 3.85vw;background: url('/static/images/welcome/warnBg.png')">-->
                        <!--<img class="welcome_head_infoBg" src="/static/images/headBg.png" >-->
                        <!--<img class="userHeader_info" src="/static/images/5.jpg" >-->
                        <!--<div class="userHeader_info_time">08:30</div>-->
                        <!--<div class="userHeader_info_name">张卫东</div>-->
                        <!--<div class="userHeader_info_type"><img  src="/static/images/fangke.png"></div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div style="position: absolute;left: 1145px">-->
                    <!--<div class="welcome_userInfo_box" style="margin-left: 3.8vw;">-->
                        <!--<img class="welcome_head_infoBg" src="/static/images/headBg.png" >-->
                        <!--<img class="userHeader_info" src="/static/images/5.jpg" >-->
                        <!--<div class="userHeader_info_time">08:30</div>-->
                        <!--<div class="userHeader_info_name">张卫东</div>-->
                        <!--<div class="userHeader_info_type"><img  src="/static/images/fangke.png"></div>-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
        <div class="historyList" >
            <div class="historyListScroll">
                <!--<div class="history_detail" >-->
                    <!--<img src="/static/images/headBg.png" class="history_detail_img1">-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2">-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock" ><img src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time" >14:18</div>-->
                <!--</div>-->
                <!--<div class="history_detail">-->
                    <!--<img src="/static/images/headBg.png" class="history_detail_img1">-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2">-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock"><img src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time">14:18</div>-->
                <!--</div>-->
                <!--<div class="history_detail">-->
                    <!--<img src="/static/images/headBg.png" class="history_detail_img1">-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2">-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock"><img  src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time">14:18</div>-->
                <!--</div>-->
                <!--<div  class="history_detail">-->
                    <!--<img src="/static/images/headBg.png" class="history_detail_img1">-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2" >-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock"><img  src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time">14:18</div>-->
                <!--</div>-->
                <!--<div class="history_detail">-->
                    <!--<img class="history_detail_img1" src="/static/images/headBg.png" >-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2">-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock"><img  src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time">14:18</div>-->
                <!--</div>-->
                <!--<div class="history_detail">-->
                    <!--<img class="history_detail_img1" src="/static/images/headBg.png" >-->
                    <!--<img src="/static/images/5.jpg" class="history_detail_img2">-->
                    <!--<div class="history_detail_name">张伟看</div>-->
                    <!--<div class="history_detail_clock"><img  src="/static/images/clock.png"></div>-->
                    <!--<div class="history_detail_time">14:18</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="wel_footer" style="color:white;position: relative">
        <div class="time">
        </div>
        <div class="camSelect">
            <img  src="/static/images/camera.png">
        </div>
        <div class="selectCam" style="display: none">
            <!--<div class="selectCam_div">-->
                <!--<img  src="/static/images/cam_icon.png">-->
                <!--<div style="">摄像头1</div>-->
            <!--</div>-->
            <!--<div class="selectCam_div">-->
                <!--<img style="" src="/static/images/cam_icon.png">-->
                <!--<div style="">摄像头1</div>-->
            <!--</div>-->
            <!--<div class="selectCam_div">-->
                <!--<img style="" src="/static/images/cam_icon.png">-->
                <!--<div style="">摄像头1</div>-->
            <!--</div>-->
        </div>
        <div class="cam_arrow" style="display: none"><img src="/static/images/upIcon.png"></div>



    </div>

</div>

</body>
<script  src="/static/javascripts/lib/require.js" data-main="/static/javascripts/pages/show/welcome"></script>
</html>

